:root{
    --accent-color: #00a6e3;
    --text-color-white: #f6f6f6;
    --text-color-black: #0b0b0b;
}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 8fr;
}

.dashboard{
    background-color: var(--accent-color);
    grid-row: 1/3;
}

.header{
    background-color: antiquewhite;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 5fr 2fr;
}

.header > .search{
    border: none;
    outline: none;
    align-self: center;
    height: 1.5rem;
    width: clamp(100px, 50vw, 1000px);
    background-color: #dedede;
    border-radius: 30px;
    margin-left: 5rem;
    padding-right: 1rem;
    text-align: end;
}

.buttons > button{
    border: none;
    outline: none;
    padding: 5px 16px;
    background-color: var(--accent-color);
    color: var(--text-color-white);
    border-radius: 30px;

}

.main{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main > .projects{
    grid-row: 1/3;
    background-color: aquamarine;
}

.main > .trending{
    background-color: blueviolet;
}

.main > .announcements{
    background-color: indianred;
}  